/*Titel Shadows */
.button.button-empty:not(.disabled):hover,
.button.button-empty.button-green:not(.disabled):hover,
.button.button-empty.button-red:not(.disabled):hover,
.button.button-metal,
#friend_box .friend_box_title,
.btn-rack__btn,
.btn-rack form,
.rcontrols .rematch.fbt,
.crosstable__score {
    text-shadow: 0 1px 0 transparent;
}
.button.button-metal:not(.disabled):hover,
#friend_box .friend_box_title:hover,
.btn-rack__btn:hover,
.btn-rack form:hover {
    text-shadow: 0 1px 0 transparent;
}
.lobby__box__top,
.crosstable__users,
.mselect__label, .mselect__label:hover,
group.radio label {
    text-shadow: 0 1px 0 transparent;
}
.crosstable__users,
.crosstable__score,
.cmn-toggle+label::after,
.user-show .angles {
    text-shadow: 0 1px 0 transparent;
}
.study__player,
.study__player-top,
.study__metadata h2 {
    text-shadow: 0 1px 0 transparent;
}
.slist thead {
    text-shadow: 0 1px 0 transparent;
}
.video .card .info, .video .card .reveal {
    text-shadow: 0 1px 0 transparent;
}
.coach-show .coach-widget .overview {
    text-shadow: 0 1px 0 transparent;
}
.slist thead, .swiss__controls, .swiss__player-info .stats h2 {
    text-shadow: 0 1px 0 transparent;
}
.slist thead, .tour__controls, .tour__actor-info .stats h2 {
    text-shadow: 0 1px 0 transparent;
}
group.radio label:hover {
    text-shadow: 0 1px 0 transparent;
}
.analyse__clock {
    text-shadow: 0 1px 0 transparent;
}