/* Lobby */
.lobby__leaderboard,
.lobby__winners,
.lobby__tournaments,
.lobby__forum,
.lobby__support,
.lobby__about,
.about-side,
.lobby__tv,
.lobby__puzzle,
.lobby__simuls {
    display: none !important;
}
.lobby__blog {
    margin-top: -30px;
}

.lobby__table {
    background-color: #262421;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    border-radius: 3px;
    height: 797px;
    width: 224px;
    margin-top: 33px;
    margin-left: -7px;
}
.button.button-metal.config_hook,
.button.button-metal.config_friend,
.button.button-metal.config_ai,
.lobby__counters {
    margin-left: 9px;
}
.button.button-metal.config_hook {
    height: 186px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #404040;
    background: #2E2C29 url(https://raw.githubusercontent.com/MadameSolette/Stylus/master/lichess.org/images/hook.png);
    background-repeat: no-repeat;
    background-position: center;
    color: #bababa;
    transition: all 150ms;
    width: 205px;
    margin-top: 7em;
    font-size: 14px;
    font-weight: 500;
}
.button.button-metal.config_hook:hover {
    background: rgba(84,82,78,0.85) url(https://raw.githubusercontent.com/MadameSolette/Stylus/master/lichess.org/images/hook-hover.png);
    background-repeat: no-repeat;
    background-position: center;
    color: #d64f00;
}
.button.button-metal.config_friend {
    height: 186px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #404040;
    background: #2E2C29 url(https://raw.githubusercontent.com/MadameSolette/Stylus/master/lichess.org/images/friend.png);
    background-repeat: no-repeat;
    background-position: center;
    color: #bababa;
    transition: all 150ms;
    width: 205px;
    margin-top: -6px;
    font-size: 14px;
    font-weight: 500;
}
.button.button-metal.config_friend:hover {
    background: rgba(84,82,78,0.85) url(https://raw.githubusercontent.com/MadameSolette/Stylus/master/lichess.org/images/friend-hover.png);
    background-repeat: no-repeat;
    background-position: center;
    color: #d64f00;
}
.button.button-metal.config_ai {
    height: 186px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #404040;
    background: #2E2C29 url(https://raw.githubusercontent.com/MadameSolette/Stylus/master/lichess.org/images/ai.png);
    background-repeat: no-repeat;
    background-position: center;
    color: #bababa;
    transition: all 150ms;
    width: 205px;
    margin-top: -6px;
    font-size: 14px;
    font-weight: 500;
}
.button.button-metal.config_ai:hover {
    background: rgba(84,82,78,0.85) url(https://raw.githubusercontent.com/MadameSolette/Stylus/master/lichess.org/images/ai-hover.png);
    background-repeat: no-repeat;
    background-position: center;
    color: #d64f00;
}
.lobby__counters {
    height: 186px;
    justify-content: center;
    align-items: center;
    border: 1px solid #404040;
    border-radius: 3px;
    background: #2E2C29;
    width: 205px;
    margin-bottom: 43.0em;
}
#nb_connected_players {
    margin-top: 8em;
}
#nb_games_in_play {
    margin-bottom: 3.5em;
}

/* Lobby Play */
.tabs-horiz span::after {
    display: none;
}
.tabs-horiz {
    border-bottom: 2px solid transparent;
}
.lpools>div:hover {
    background: rgba(153, 151, 146, .4);
    color: #d64f00;
}
.hooks__list tr.join:hover td {
    background: rgba(153, 151, 146, .4);
}
.lobby__app {
    height: 830px;
    width: 100%;
}

.lpools>div {
    height: 186px;
}

/* Lobby Play */
.bg-switch {
    display: unset;
    visibility: visible;
    z-index: 1;
    margin-top: 4em;
    margin-left: 6.4em;
    opacity: 0.7;
}

/* Challenge */
.challenge-page .details {
    background: #393632;
}
.challenge-page .invite>div {
    background: #393632;
}
