/* Notification */
.rmoves o2.active,
.rmoves u8t.active {
    font-weight: bold;
    background: #293a49;
    color: #ccc;
}
.tview2 move.current {
    border: 0px solid #d64f00;
}
.rmoves i5z {
    background: transparent;
}

/* Scoreline */
.crosstable__matchup,
.crosstable povs.current a {
    opacity: 1;
    text-shadow: 0 1px 0 transparent;
    font-weight: bold;
}
.crosstable povs a.win,
.crosstable povs a.loss,
.crosstable povs a {
    opacity: 1;
    text-shadow: 0 1px 0 transparent;
    font-weight: normal;
}

/* User online / offline */
.user-link.online .line {
    color: #629924;
    opacity: .9;
}
.user-link.online .line::before {
    content: '';
}
.user-link .line {
    color: #bababa;
    opacity: 0.2;
}
.user-link .line::before {
    content: '';
}

/* Tournament */
.tour__meta section::before,
.swiss__meta section::before {
    color: #d64f00;
}
.arena-list .slist td i,
.scheduled a::before {
    color: #d64f00;
    opacity: 1;
}
.tour__meta section.conditions::before {
    color: #CC3333;
}
.game__tournament .clock {
    color: #629924;
}