.tv-history {
    display: none;
}
.game__meta__infos::before {
    color: #d64f00;
}
 
.subnav a,
.tv-channel>span::before {
    color: rgba(186,186,186,0.63);
}
.tv-channel>span>span {
    text-align: right;
}
.tv-channel>span:hover,
.tv-channel>span:hover::before {
    color: #d64f00;
}
.tv-channels.subnav {
    background: #262421;
    border-radius: 3px;
    padding: 1.4vmin;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12);
    margin-top: -10px;
}
#main-wrap > main > aside > div > section:nth-child(1) > div.game__meta__players > div.player.color-icon.is.white.text > i,
#main-wrap > main > aside > div > section:nth-child(1) > div.game__meta__players > div.player.color-icon.is.black.text > i {
    color: #d64f00;
}