#progressBar {
    background: var(--ok-065);
    border: 1px solid var(--light-grey);
    outline: 1px solid var(--ok-100);
}
.progressBarP {
    background: var(--ok-100);
    height: 22px;
    margin: -1px 0px 0px -1px;
}
#progressBarText {
    width: 820px;
    margin: 2px 0px 0px 0px;
}
#progressBarText > div:nth-child(2) {
    margin-top: -12px;
    margin-left: 48%;
}
#progressBarText > div:nth-child(3) {
    margin: -13px 11px 0px 0px;
    float: right;
}
