body {
    background-color: var(--dark-grey);
}
table { 
    border-spacing: 0px 2px;
}
.dashboard-header {
    background: var(--light-grey);
}
.dashboard-box-wide {
    background: var(--medium-grey1);
    border-color: var(--medium-grey1);
    border-radius: var(--border-radius);
}
.dashboard-box-inner {
    border-color: var(--medium-grey1);
    outline-color: var(--light-grey);
    margin: 5px;
}
#centerBox {
    background-repeat: no-repeat;
    margin-bottom: -5px;
    padding-top: 24px;
    width: 501px;
    height: 98px;
}
#dashboard {
    background: var(--medium-grey1);
    border-color: var(--medium-grey1);
    -webkit-border-radius: var(--border-radius);
    border-radius: var(--border-radius);
}
#navi {
    background: var(--medium-grey2);
    border: 0px;
    margin: 0px 0px 0px -1px;
    width: 903px;
    height: 49px;
}
#header-new {
    background: var(--medium-grey2);
    width: 902px;
    opacity: 0.8;
}
#seite {
    background: var(--medium-grey2);
    border-color: var(--medium-grey2);
}
#db-spalte-links-new {
    margin: -14px 0px 0px -4px;
}
#db-spalte-links-new > div:nth-child(4) {
    background: var(--ok-100);
    border-color: var(--light-grey);
    outline-color: var(--ok-100);
}
#db-spalte-mitte-new {
    margin: -14px 0px 0px 5px;
}
#db-spalte-rechts-new {
    margin: -9px 0px 0px 0px;
}
#col1 {
    padding: 2px 0px 0px 1px;
}
#col2 {
    padding: 2px 0px 0px 0px;
}
#col2 > div:nth-child(4) > form > div:nth-child(1),
#col2 > div:nth-child(4) > form > div:nth-child(2) {
    margin-left: 5px;
    width: 91%
}
#db-spalte-mitte-new > div:nth-child(2) > table > tbody > tr:hover td,
#col2 > div:nth-child(2) > table:nth-child(5) > tbody > tr:nth-child(even):hover td,
#col2 > div:nth-child(2) > table:nth-child(6) > tbody > tr:nth-child(even):hover td {
    background-color: var(--medium-grey1) !important;
    border-color: var(--medium-grey1);
}
#col2 > div:nth-child(2) > table:nth-child(5) > tbody > tr:nth-child(odd) td,
#col2 > div:nth-child(2) > table:nth-child(6) > tbody > tr:nth-child(odd) td {
    padding: 1px 3px 2px 8px;
}
#col2 > div:nth-child(2) > table:nth-child(6) {
    margin-top: -2px;
}
.box-db {
    background: var(--light-grey);
    border-color: var(--medium-grey1);
    outline-color: var(--light-grey);
    margin: 20px 0 10px 10px;
}
.box-db-wide-new {
    background: var(--light-grey) !important;
    border-color: var(--medium-grey1);
    outline-color: var(--light-grey);
    margin: 20px 0px 5px 15px;
}
.box-db-small {
    background: var(--light-grey);
    border-color: var(--medium-grey1);
    outline-color: var(--light-grey);
}
.portlet-wide {
    background: var(--light-grey);
    border-color: var(--medium-grey1);
    outline: 1px solid var(--light-grey);
}
.dbTextBox {
    background: var(--light-grey);
    border: 0px;
}
.portlet {
    background: var(--light-grey);
    border-color: var(--medium-grey1);
    outline: 1px solid var(--light-grey);
    width: 245px;
}
.db-left,
.db-head-wider,
.db-right,
.db-head-small,
.db-head-box-wide,
.db-head-box {
    background-image: none;
    background-color: var(--medium-grey1);
    height: 25px;
    margin: 0px;
    padding-top: 5px;
}
.db-left {
    width: 2%;
}
.db-head-wider,
.db-head-box-wide,
.db-head-small,
.db-head-box {
    width: 96% !important;
}
.db-right {
    width: 2%;
}
.dbTextSmall {
    background: var(--medium-grey1);
    border-color: var(--light-grey);
    outline-color: var(--medium-grey1);
    width: 92%;
    height: 15px;
    margin: 10px 5px 0px 0px;
}
.dbOK {
    background: var(--ok-100);
    border-color: var(--light-grey);
    outline-color: var(--ok-100);
}
.hinweis-fehler {
    background: var(--fault);
    border-color: var(--light-grey);
    outline: 1px solid var(--fault);
    background-repeat: no-repeat !important;
    background-position: left !important;
    margin: 5px 10px 0px 10px;
}
.dbFault {
    border-color: var(--light-grey);
    background: var(--fault);
    outline-color: var(--fault);
}
.dbInfoBox {
    background: var(--info-box);
    border-color: var(--light-grey);
    outline: 1px solid var(--info-box);
    margin-top: 30px;
}
.freunde-name {
    border-color: var(--table-grey1);
    background: var(--table-grey1);
    padding-left: 2px
}
td.freunde-name.tdCenter, .td-bg-grey {
    background: var(--table-grey1) !important;
}
.dbButton {
    background: var(--medium-grey1) !important;
    border-color: var(--font-color1);
    border-radius: var(--border-radius);
    height: 23px;
}
.dbButton:hover {
    background: var(--table-grey2) !important;
}
.dbHeadBox {
    border-color: var(--table-grey1);
    background: var(--table-grey1);
    margin: 1px;
    padding: 6px;
    width: 97%;
}
.dbTD {
    border-color: var(--table-grey1);
    background: var(--table-grey1);
    padding: 1px 3px 1px 8px;
}
textarea {
    background: var(--table-grey1);
    border: 1px solid var(--font-color1);
    padding: 5px;
}
textarea:focus {
    background-color: var(--table-grey2);
    border-color: var(--ok-100);
}
input {
    background-color: var(--table-grey1) !important;
    border: 1px solid var(--font-color1);
    padding: 3px;
}
input:focus {
    background-color: var(--table-grey2) !important;
    border-color: var(--ok-100);
}
input:disabled {
    background-color: var(--light-grey) !important;
    border-color: var(--fault);
}
.dbTextIcon {
    margin: 5px 0px 0px 3px;
}
#footer {
    background: var(--dark-grey);
    border: 2px solid var(--dark-grey);
    margin-left:-1px;
}
.footerContent::after {
    content: 'Dark Theme made with ♥ Love ♥ by HK Lessosibirsk';
    display: block;
    padding: 12px 0px 12px 0px;
}
.helpPhone {
    height: 104px;
    margin-top: -125px;
    transition: all 150ms ease;
}
.sidebarFixed {
    margin-top: 130px;
}
.ui-widget-content {
    background:var(--medium-grey1);
    border: 1px solid var(--medium-grey1);
}
.ui-widget.ui-widget-content {
    background: var(--medium-grey1) !important;
    border-color: var(--medium-grey1) !important;
}
.ui-dialog .ui-dialog-content {
    padding: 10px 0px 20px 15px ;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-right,
.ui-corner-bottom {
    border-radius: var(--border-radius);
}
.ui-draggable .ui-dialog-titlebar {
    background: var(--light-grey);
    border-color: var(--medium-grey1);
    outline: 1px solid var(--light-grey);
    border-radius: var(--border-radius);
    margin: 5px;
}
.ui-button:hover,
.ui-button:active {
    background: var(--fault);
    border: 1px solid var(--fault);
    font-weight: normal;
    color: #555555;
}
.ui-dialog .ui-dialog-titlebar-close {
    width: 25px;
    height: 25px;
    top: 0%;
    margin: 1px 0px 0px 0px;
    right: .1em;
}
.assistFace {
    background: var(--medium-grey1);
    border-color: var(--medium-grey1);
    border-radius: var(--border-radius);
    outline: 1px solid var(--medium-grey1);
    margin: -16px 15px 0px 0px;
}
.assistText {
    background: var(--help);
    border-color: var(--medium-grey1);
    outline: 1px solid var(--help);
    border-radius: var(--border-radius);
    margin: 10px 5px 0px 5px;
}
.assistText:after,
.assistText:before {
    border-right-color: var(--help);
    left: -22px;
    border-width: 10px;
    margin-top: -18px;
}
:focus {
    outline: -webkit-focus-ring-color auto 0px;
}
.dbInfo {
    background: var(--ok-100);
    border-color: var(--light-grey);
    outline-color: var(--ok-100);
}
.db-header-change-link {
    margin-left: 798px;
    margin-top: 40px !important;
    opacity: 0.1;
}
input[type=file] {
    -webkit-box-sizing: border-box;
    position: relative;
    -webkit-appearance: textfield;
}
input[type=file]::-webkit-file-upload-button {
    width: 0px;
    padding: 0px;
    margin: 3px;
    -webkit-appearance: none;
    border: none;
}
x::-webkit-file-upload-button,
input[type=file]:after {
    content: '->  Browse Files...';
    position: relative;
    margin-left: 110px;
}
input[type="file"]::-ms-browse {
    width: 0px;
    padding: 0px;
    margin: 3px;
    -webkit-appearance: none;
    border: none;
}
x::-ms-browse,
input[type=file]:after {
    content: '->  Browse Files...';
    position: relative;
    margin-left: 110px;
}
