.box-draft-big {
    background: var(--medium-grey1);
    border-color: var(--medium-grey1);
    border-style: solid;
    border-width: 1px;
    width: 97.5%;
    margin: 0px auto;
    margin-bottom: 25px;
    border-radius: var(--border-radius);
    padding: 10px;
}
.box-grey-big {
    background: var(--light-grey);
    border-color: var(--medium-grey1);
    border-style: solid;
    border-width: 1px;
    outline-color: var(--light-grey);
    outline-style: solid;
    outline-width: 1px;
    
}
