/* General */
u {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
.box-db,
.dbTD,
.freunde-name,
.dbTextBox,
.taktik-box-weiss,
#spalte-rechts,
.spalte-grau,
.select2-container--default .select2-selection--single .select2-selection__rendered,
.select2-container--default .select2-results__group,
.select2-container--default .select2-results__option .select2-results__option,
.gameBlock,
.text-light-grey,
.text-left {
    color: var(--font-color4) !important;
}
textarea {
    color: var(--ok-100);
}
input {
    color: var(--font-color4);
}
select {
    color: var(--font-color4);
}
h1 {
    font-variant: small-caps;
}



/* Buero */
.db-head-text {
    color: var(--font-color5);
    font-variant: small-caps;
    font-size: 12px;
}
.dbHeadBox {
    color: var(--font-color5);
    font-variant: small-caps;
    font-size: 11px;
}
.dbTextSmall {
    color: var(--font-color5);
    text-align: center;
    font-variant: small-caps;
    font-size: 11px;
}
.box-db-small > .db-head-small > .db-head-text {
    text-align: center;
}
.dbTextSmall > img {
    vertical-align: unset;
    border: 0px;
    display: none;
}
.dbTextBox {
    font-size: 8pt;
}
#col2 > div:nth-child(5) > div.dbTextBox {
    text-align: center;
}
#col2 > div:nth-child(2) > table:nth-child(5) > tbody > tr:nth-child(odd) td,
#col2 > div:nth-child(2) > table:nth-child(6) > tbody > tr:nth-child(odd) td {
    text-align: center;
    text-decoration: underline;
    font-size: 8pt;
}
.dbTD {
    font-size: 8pt;
}
.box-db {
    font-size: 11px;
}
.hinweis-fehler {
    font-weight: bold;
}
.ui-widget,
.ui-widget-content {
    color: var(--font-color4);
    font-size: 12px;
    font-family: Verdana, sans-serif;
}
.ui-draggable .ui-dialog-titlebar {
    font-variant: small-caps;
}
.assistText {
    color: var(--medium-grey1);
}
.dbInfo > .dbTextIcon > a:link,
.dbInfo > .dbTextIcon > a:visited {
    color: var(--medium-grey1);
}
.dbInfo > .dbTextIcon {
    float: none;
    text-align: center;
}
#db-spalte-mitte-new > div:nth-child(1) > h3 > a {
    font-size: 18px;
}
#db-spalte-mitte-new > div:nth-child(1) > h4 {
    font-size: 11px;
}
#db-spalte-links-new > div:nth-child(4) {
    color: var(--medium-grey1) !important;
    font-weight: bold;
}



/* Achievements */
#progressBarText {
    color: var(--font-color4);
}



/* Team */
.table-head {
    text-align: center !important;
}
.inputJerseyNumber {
    text-align: center;
}
#content2 > h1,
#content2 > h2 {
    color: var(--font-color3);
    font-variant: small-caps;
    font-size: 2em;
}
.table-head {
    color: var(--font-color5);
}
.tdG {
    color: var(--font-color4);
}
.button-small {
    color: var(--font-color5);
}
#content2 > div:nth-child(6) > div > form > h4:nth-child(1),
#content2 > div:nth-child(6) > div > form > h4:nth-child(3),
#content2 > div:nth-child(6) > div > form > h4:nth-child(5),
#content2 > div:nth-child(6) > div > form > h4:nth-child(7),
#content2 > div:nth-child(6) > div > form > h4:nth-child(9),
#content2 > div:nth-child(6) > div > form > h4:nth-child(11),
#content2 > div:nth-child(6) > div > form > h4:nth-child(13),
#content2 > div:nth-child(6) > div > form > h4:nth-child(15) {
    color: var(--font-color-blue1) !important;
    font-size: 18px;
    font-variant: small-caps;
}
/* Team Info */
.hof_season {
    color: var(--medium-grey1);
}
#content2 > div.box-blau-big > div > div > p  {
    color: var(--font-color4);
    font-size: 12px;
}



/* Taktik */
.buttonBlue {
    color: var(--font-color5);
}
#infobox > h3 {
    color: var(--font-color4);
    font-variant: small-caps;
}
#infobox > ul {
    color: var(--font-color3);
}
.hinweis-hilfe,
.hinweis-info {
    color: var(--medium-grey1);
}
#slickbox {
    text-align: center;
}
#infobox > ul,
#infobox > table {
    text-align: left;
}
#infobox > table::after {
    color: var(--table-grey1);
}



/* Contracts */
#infobox > table > tbody > tr > td {
    color: var(--font-color4);
}



/* Training */
.zeileMarkedBlue select {
    color: var(--font-color4);
}
#infobox {
    color: var(--font-color4);
}


/* Liga */
.schlagzeile {
    color: var(--font-color5);
    padding: 0px;
    text-align: justify;
}
.presse-meldung {
    text-align: justify;
}
.winner {
    color: var(--font-green);
}
.ligatalk_beitrag {
    color: var(--medium-grey1);
}
#content2 > div:nth-child(8) > div > div > div.ligatalk_name > a:link,
#content2 > div:nth-child(8) > div > div > div.ligatalk_name > a:visited {
    color: var(--medium-grey1);
}


/* Match Details */
.scoreMB,
.drittelHead,
.drittelZeile {
    color: var(--font-color5);
}
.tableheadMB {
    color: var(--font-color5);
    font-size: 12px;
    font-variant: small-caps;
    text-align: center;
}
.zeileGrau3.text-blue1 {
    color: var(--font-color5) !important;
    font-size: 12px;
    font-variant: small-caps !important;
    text-align: center !important;
}
.ticker-clock {
    color: var(--ok-100);
    font-weight: normal;
}
.ticker-comment {
    text-align: center;
    font-size: 10pt;
}
.ticker-comment {
    color: var(--medium-grey1);
}
.playercard-team {
    color: var(--medium-grey1);
}



/* Draft */
.draftScreenHeading {
    background: var(--light-grey);
    color: var(--help);
    padding-top: 10px
}



/* Finanzen */
.zeileGrau,
.zeileGrau2,
.zeileGrau3,
.spalte-blau,
.spalte-finanzen,
.spalte-grau-hell,
td {
    color: var(--font-color4);
}
/* Kontoauszug */
.textRed {
    color: var(--font-red) !important;
}
.textGreen {
    color: var(--font-green) !important;
}



/* Transfer */
.tradeDeadlineHead,
.countdown_deadline {
    color: var(--medium-grey1);
    font-variant: small-caps;
}
.tradeDeadlineHead {
    font-size: 18px;
}
.countdown_deadline div {
    font-weight: 900;
}



/* Statistiken */
.legendLabel {
    color: var(--medium-grey1)
}



/* Nation */
.pressContainer {
    color: var(--font-color4);
}
.pressHeading {
    color: var(--font-color5);
}
.pressAuthor::before {
    font-style: normal;
}
.pressText {
    color: var(--font-color4);
    font-size: 11px;
}



/* Inbox */
.spalten-namen-mail {
    color: var(--font-color4);
}



/* EZM Times */
.timesHeadDate,
.timesHeadUrl,
.timesHeadEzmdate {
    color: var(--font-color5);
}
.timesHeadingLeft,
.timesHeadingCenter,
.timesHeadingSmall {
    color: var(--font-color5);
    font-variant: small-caps;
}
.timesHeadingSmall {
    font-size: 13px;
}
.timesDatum,
.timesText,
.timesTransferTeam,
.timesMore {
    color: var(--font-color3);
    text-decoration: none;
}
ol,
li,
.timesText,
.timesTransferTeam,
.timesMore {
    color: var(--font-color4);
}



/* Supporter */
.text-dark-grey {
    color: var(--font-color5);
}
.text-blue1 {
    color: var(--font-color-blue1) !important;
}
th {
    color: var(--font-color4);
}



/* Links */
a:link,
a:link b,
a:visited,
a:visited b,
#navi a:link,
#navi a:link b,
#navi a:visited,
#navi a:visited b,
table a:link,
table a:link b,
table a:visited,
table a:visited b,
a.team_link:link,
a.team_link:visited,
.spalte-blau a:link,
.spalte-blau a:visited,
.draftTd a:link,
.draftTd a:visited {
    color: var(--link4);
    text-decoration: none;
}
a:hover,
a:hover b,
#navi a:hover,
#navi a:hover b,
table a:hover,
table a:hover b,
a.team_link:hover,
.spalte-blau a:hover,
.draftTd a:hover {
    color: var(--link3);
    text-decoration: underline;
}
.hinweis-fehler > a:link,
.hinweis-fehler > a:visited {
    color: var(--font-color-fault);
}
.hinweis-hilfe > a:link,
.hinweis-hilfe > a:visited,
.hinweis-info > a:link,
.hinweis-info > a:visited,
.hinweis-back > a:link,
.hinweis-back > a:visited {
    color: var(--medium-grey1);
}
.dbTextIcon > a:link b,
.dbTextIcon > a:visited b,
.dbFault > .dbTextIcon > a:link b,
.dbFault > .dbTextIcon > a:visited b {
    color: var(--medium-grey1);
}
.box-db > a:link,
.box-db > a:visited {
    color: var(--medium-grey1);
    font-weight: bold;
}
.dbTextIcon > a:hover {
    color: var(--medium-grey1);
}
.dbFault > .dbTextIcon > a:hover {
    color: var(--fault);
}
.portlet > h2 > a:link {
    font-variant: small-caps;
}
.hof_name > a:link {
    font-size: 11px;
    color: var(--medium-grey1);
    text-transform: none;
    font-variant: small-caps;
}
.playercard > h2 > a:link {
    color: var(--medium-grey1);
}
