.tabelle_playoffs2 {
    background: var(--table-grey1);
    border-color: var(--light-grey);
    border-width: 0px;
}
.playoff_line {
    background: var(--ok-100) !important;
    border-color: var(--ok-100) !important;
    height: 1px;
}
.playdown_line {
    background: var(--fault) !important;
    border-color: var(--fault) !important;
    height: 1px;
}
.presse-delete {
    background:  var(--medium-grey1);
    border-color:  var(--medium-grey1);
    outline-color: var(--medium-grey1);
    outline-width: 1px;
    outline-style: solid;
    padding-right: 10px;
    height: 23px;
}
.presse-header {
    background: var(--medium-grey2);
    border-color: var(--medium-grey2);
    outline-color: var(--medium-grey2);
    outline-width: 1px;
    outline-style: solid;
    background-repeat: no-repeat;
    background-position: right;
}
.presse-meldung {
    background: var(--table-grey1);
    border-color: var(--table-grey1);
    outline-color: var(--table-grey1);
    outline-width: 1px;
    outline-style: solid;
    padding: 10px;
}
.gameBlock {
    border-color: var(--table-grey1);
    background: var(--table-grey1);
    height: 55px;
}
.trenner {
    float: left;
    background: var(--light-grey);
    width: 12px;
    height: 57px;
}
.lineInfo {
    padding: 15px 0px 0px 0px;
}
.input-ligatalk {
    border-color: var(--font-color1);
    border-style: solid;
    height: 22px;
}
.ligatalk_beitrag {
    background:var(--help);
    border-color: var(--light-grey);
    border-style: solid;
    border-width: 1px;
    outline-color: var(--help);
    outline-style: solid;
    outline-width: 1px;
}
#content2 > div:nth-child(4) > div > table:nth-child(1) > tbody > tr:hover td,
#content2 > div:nth-child(10) > div > table > tbody > tr:hover td,
#content2 > div:nth-child(14) > div > table > tbody > tr:hover td,
#content2 > div:nth-child(8) > div > table:nth-child(2) > tbody > tr:hover td {
    background-color: var(--medium-grey1);
    border-color: var(--medium-grey1);
}
#spalte-links > table:nth-child(1) > tbody > tr:nth-child(3):hover td,
#spalte-links > table:nth-child(1) > tbody > tr:nth-child(4):hover td,
#spalte-links > table:nth-child(1) > tbody > tr:nth-child(5):hover td,
#spalte-links > table:nth-child(1) > tbody > tr:nth-child(6):hover td,
#spalte-links > table:nth-child(1) > tbody > tr:nth-child(7):hover td,
#spalte-links > table:nth-child(1) > tbody > tr:nth-child(8):hover td,
#spalte-links > table:nth-child(1) > tbody > tr:nth-child(9):hover td,
#spalte-links > table:nth-child(1) > tbody > tr:nth-child(10):hover td,
#spalte-links > table:nth-child(2) > tbody > tr:nth-child(3):hover td,
#spalte-links > table:nth-child(2) > tbody > tr:nth-child(4):hover td,
#spalte-links > table:nth-child(2) > tbody > tr:nth-child(5):hover td,
#spalte-links > table:nth-child(2) > tbody > tr:nth-child(6):hover td,
#spalte-links > table:nth-child(2) > tbody > tr:nth-child(7):hover td,
#spalte-links > table:nth-child(2) > tbody > tr:nth-child(8):hover td,
#spalte-links > table:nth-child(2) > tbody > tr:nth-child(9):hover td,
#spalte-links > table:nth-child(2) > tbody > tr:nth-child(10):hover td,
#spalte-rechts > table > tbody > tr:nth-child(3):hover td,
#spalte-rechts > table > tbody > tr:nth-child(4):hover td,
#spalte-rechts > table > tbody > tr:nth-child(5):hover td,
#spalte-rechts > table > tbody > tr:nth-child(6):hover td {
    background-color: var(--medium-grey1) !important;
    border-color: var(--medium-grey1);
}
#dataTable > tbody > tr:hover td {
    background-color: var(--medium-grey1) !important;
    border-color: var(--medium-grey1);
}
