.minicolors-theme-default .minicolors-input {
    border-radius: var(--border-radius);
    height: 17px;
}
.minicolors-theme-default .minicolors-swatch {
    width: 15px;
    height: 15px;
}
#content2 > div.box-blau-big.box-col-wide > div > div:nth-child(26) > form > ul > li:nth-child(1) > input[type=radio]:after {
    content: 'Deutsch';
}
#content2 > div.box-blau-big.box-col-wide > div > div:nth-child(26) > form > ul > li:nth-child(2) > input[type=radio]:after {
    content: 'US';
}
#content2 > div.box-blau-big.box-col-wide > div > div:nth-child(26) > form > ul > li:nth-child(3) > input[type=radio]:after {
    content: 'French';
}
#content2 > div.box-blau-big.box-col-wide > div > div:nth-child(26) > form > ul > li:nth-child(4) > input[type=radio]:after {
    content: 'Italia';
}
#content2 > div.box-blau-big.box-col-wide > div > div:nth-child(26) > form > ul > li:nth-child(1) > input[type=radio]:after,
#content2 > div.box-blau-big.box-col-wide > div > div:nth-child(26) > form > ul > li:nth-child(2) > input[type=radio]:after,
#content2 > div.box-blau-big.box-col-wide > div > div:nth-child(26) > form > ul > li:nth-child(3) > input[type=radio]:after,
#content2 > div.box-blau-big.box-col-wide > div > div:nth-child(26) > form > ul > li:nth-child(4) > input[type=radio]:after {
    margin-left: 18px;
    font-size: 12px;
}
.button-trenner2 {
    background: none;
}
