.minicolors-theme-default .minicolors-input {
    border-radius: var(--border-radius);
    height: 17px;
}
.minicolors-theme-default .minicolors-swatch {
    width: 15px;
    height: 15px;
}
#spalte-links > div:nth-child(12) > div:nth-child(1) > form > input[type=radio]:nth-child(3):after {
    content: 'Deutsch';
}
#spalte-links > div:nth-child(12) > div:nth-child(1) > form > input[type=radio]:nth-child(6):after {
    content: 'US';
}
#spalte-links > div:nth-child(12) > div:nth-child(1) > form > input[type=radio]:nth-child(9):after {
    content: 'French';
}
#spalte-links > div:nth-child(12) > div:nth-child(1) > form > input[type=radio]:nth-child(12):after {
    content: 'Italia';
}
#spalte-links > div:nth-child(12) > div:nth-child(1) > form > input[type=radio]:nth-child(3):after,
#spalte-links > div:nth-child(12) > div:nth-child(1) > form > input[type=radio]:nth-child(6):after,
#spalte-links > div:nth-child(12) > div:nth-child(1) > form > input[type=radio]:nth-child(9):after,
#spalte-links > div:nth-child(12) > div:nth-child(1) > form > input[type=radio]:nth-child(12):after {
    margin-left: 18px;
    font-size: 12px;
}