.box-blau-big {
    background-color: var(--medium-grey1);
    border: 1px solid var(--medium-grey1);
    border-radius: var(--border-radius);
}
.box-weiss-big {
    background-color: var(--light-grey);
    border: 1px solid var(--medium-grey1);
    outline-color: var(--light-grey);
}