.hinweis-info2 {
    background: var(--help);
    background-repeat: no-repeat !important;
    border: 1px solid var(--light-grey);
    outline: 1px solid var(--help);
    width: 91%;
}
.answers {
    margin-left: 17px;
}
.hinweis-ok2 {
    background: var(--ok-100);
    background-repeat: no-repeat !important;
    border: 1px solid var(--light-grey);
    outline: 1px solid var(--ok-100);
    width: 91%;
}
.hinweis-fehler2 {
    background: var(--fault);
    background-repeat: no-repeat !important;
    border: 1px solid var(--light-grey);
    outline: 1px solid var(--fault);
    width: 91%;
}
