.tab-line {
    height: 2px;
    width: 100%;
    border-color: var(--medium-grey1);
    border-width: 5px 0px 0px 0px;
}
.taktik-box-blau,
.infobox-blau {
    background-color: var(--medium-grey1);
    border-color: var(--medium-grey1);
    border-radius: var(--border-radius);
    padding: 10px;
}
.taktik-box-weiss,
.button-trenner {
    background-color: var(--light-grey);
    border: 1px solid var(--medium-grey1);
    outline-color: var(--light-grey);
}
.buttonBlue {
    background: var(--medium-grey1) !important;
    border-color: var(--font-color1);
    border-radius: var(--border-radius);
    box-shadow: 0px 0px 0px 0px;
}
.buttonBlue:hover {
    background: var(--table-grey2) !important;
}
.hinweis-hilfe,
.hinweis-info,
.hinweis-back {
    background: var(--help);
    background-repeat: no-repeat !important;
    background-position: left !important;
    border: 1px solid var(--light-grey);
    outline: 1px solid var(--help);
}
.hinweis-ausbau,
.hinweis-ok {
    background: var(--ok-100);
    background-repeat: no-repeat !important;
    background-position: left !important;
    border-color: var(--light-grey);
    outline: 1px solid var(--ok-100);
}
#spalte-links > div:nth-child(1) > div > div.hinweis-hilfe {
    margin-top: 15px;
}
#slickbox {
    padding-top: 25px;
    padding-left: 2%;
}
#infobox {
    background: var(--table-grey1);
    border: 1px solid var(--medium-grey1);
    outline: 1px solid var(--table-grey1);
    width: 98%;
    padding-bottom: 25px;
}
#infobox > table > tbody > tr:nth-child(1) > td {
    background-color: var(--medium-grey1);
    border: 0px;
}
#infobox > table > tbody > tr  td {
    background-color: var(--table-grey2);
    border: 0px;
}