.divider-hori {
    background: var(--medium-grey1);
    border-width: 0px;
    height: 5px;
}
.hof_flag{
    margin-top: 33px;
}
.hof_name {
    margin-top: 2px;
}
.hof_nummer {
    margin-top: 20px;
}
.hof_season {
    margin-top: 18px;
}
.box-blau-big > .box-weiss-big > #slickbox {
    padding-left: 0%;
}
.box-blau-big {
    padding: 10px;
}
.box-col-wide {
    width: 68%;
}
.margin-right-10 {
    margin-right: 16px;
}
#content2 > div.box-blau-big.box-col-small.margin-right-10 {
    width: 25%;
}
#content2 > div.box-blau-big.box-col-wide > div > div:nth-child(10),
#content2 > div.box-blau-big.box-col-wide > div > div:nth-child(13),
#content2 > div.box-blau-big.box-col-wide > div > div:nth-child(7) {
    width: 42.7%;
}
#content2 > div:nth-child(8) > div > table > tbody > tr:hover td,
#content2 > div:nth-child(12) > div > table > tbody > tr:hover td,
#slickbox > table > tbody > tr:hover td {
    background-color: var(--medium-grey1) !important;
    border-color: var(--medium-grey1);
}
