.zeileMarkedBlue select {
    background: var(--table-grey1);
}
#spalte-links > div:nth-child(2) > div > div.button-trenner > a > button {
    margin-top: 10px;
}
#spalte-rechts > div > div > table > tbody > tr:hover td {
    background-color: var(--medium-grey1) !important;
    border-color: var(--medium-grey1);
}
