.tradeDeadlineHead {
    background-color: var(--help);
    border: 1px solid var(--light-grey);
    outline-color: var(--help);
    outline-style: solid;
    outline-width: 1px;
    margin-top: 17px;
    
}
.tradeDeadline {
    background-color: var(--help);
    border: 1px solid var(--light-grey);
    outline-color: var(--help);
    outline-style: solid;
    outline-width: 1px;
    margin-top: 1px;
    
}
.countdown_deadline div span {
    border-top: 0px;
}
#content2 > div:nth-child(5) > div > table > tbody > tr:hover td {
    background-color: var(--medium-grey1) !important;
    border-color: var(--medium-grey1);
}
