.dashboard-header {
    background: var(--transparent);
}
.dashboard-box-wide {
    background: var(--medium-grey1);
    border-color: var(--medium-grey1);
}
#dashboard {
    background: var(--medium-grey1);
    border-color: var(--medium-grey1);
}
.dashboard-box-inner {
    border-color: var(--medium-grey1);
    outline-color: var(--medium-grey1);
}
#navi {
    background: var(--medium-grey2);
}
#header-new {
    background: var(--medium-grey2);
}
#seite {
    background: var(--medium-grey2);
    border-color: var(--medium-grey2);
}
.box-db {
    background: var(--light-grey);
    border-color: var(--medium-grey1);
    outline-color: var(--light-grey);
}
.box-db-wide-new {
    background: var(--light-grey) !important;
    border-color: var(--medium-grey1);
    outline-color: var(--light-grey);
}
.box-db-small {
    background: var(--light-grey);
    border-color: var(--medium-grey1);
    outline-color: var(--light-grey);
}
.portlet-wide {
    background: var(--light-grey);
    border-color: var(--medium-grey1);
    outline-color: var(--light-grey);
    outline-style: solid;
    outline-width: 1px;
}
.dbTextBox {
    background: var(--light-grey);
    border: 0px;
}
.portlet {
    background: var(--light-grey);
    border-color: var(--medium-grey1);
    outline-color: var(--light-grey);
    outline-style: solid;
    outline-width: 1px;
}
.db-left,
.db-head-wider,
.db-right,
.db-head-small,
.db-head-box-wide,
.db-head-box {
    background-image: none;
    background-color: var(--medium-grey1);
}
.dbTextSmall {
    border-color: var(--table-grey2);
    outline-color: var(--table-grey2);
    background: var(--table-grey2);
}
.dbOK {
    border-color: var(--border-color-ok);
    outline-color: var(--border-color-ok);
}
.hinweis-fehler {
    border-color: var(--fault);
    outline-color: var(--fault);
    font-weight: bold;
}
.dbFault {
    border-color: var(--fault);
    background: var(--fault);
    outline-color: var(--fault);
}
.freunde-name {
    border-color: var(--light-grey);
    background: var(--table-grey1);
}
.td-bg-grey {
    background: var(--table-grey2);
}
.dbButton {
    background: var(--dark-grey);
    border-color: var(--dark-grey);
}
.dbHeadBox {
    border-color: var(--table-grey1);
    background: var(--table-grey1);
}
.dbTD {
    border-color: var(--table-grey1);
    background: var(--table-grey1);
}
textarea {
    background: var(--table-grey1);
    border-color: var(--table-grey1);
    color: var(--font-color2);
}
.dbTextIcon {
    margin: 4px 0 0 3px;
}
