@import 'https://madamesolette.github.io/Stylus/eiszeit-manager.de/source/base64.css';
body {
    background-color: var(--dark-grey);
}
.dashboard-header {
    background: var(--light-grey);
}
.dashboard-box-wide {
    background: var(--medium-grey1);
    border-color: var(--medium-grey1);
    border-radius: var(--border-radius);
}
.dashboard-box-inner {
    border-color: var(--medium-grey1);
    outline-color: var(--light-grey);
}
#dashboard {
    background: var(--medium-grey1);
    border-color: var(--medium-grey1);
    -webkit-border-radius: var(--border-radius);
    border-radius: var(--border-radius);
}
#navi {
    background: var(--medium-grey2);
    border-left: 0px;
    border-right: 0px;
}
#header-new {
    background: var(--medium-grey2);
    background-image: url(https://www.eiszeit-manager.de/buero/images/ezm_bench.png);
    opacity: 0.6;
}
#seite {
    background: var(--medium-grey2);
    border-color: var(--medium-grey2);
}
.box-db {
    background: var(--light-grey);
    border-color: var(--medium-grey1);
    outline-color: var(--light-grey);
}
.box-db-wide-new {
    background: var(--light-grey) !important;
    border-color: var(--medium-grey1);
    outline-color: var(--light-grey);
}
.box-db-small {
    background: var(--light-grey);
    border-color: var(--medium-grey1);
    outline-color: var(--light-grey);
}
.portlet-wide {
    background: var(--light-grey);
    border-color: var(--medium-grey1);
    outline-color: var(--light-grey);
    outline-style: solid;
    outline-width: 1px;
}
.dbTextBox {
    background: var(--light-grey);
    border: 0px;
}
.portlet {
    background: var(--light-grey);
    border-color: var(--medium-grey1);
    outline-color: var(--light-grey);
    outline-style: solid;
    outline-width: 1px;
}
.db-left,
.db-head-wider,
.db-right,
.db-head-small,
.db-head-box-wide,
.db-head-box {
    background-image: none;
    background-color: var(--medium-grey1);
    height: 25px;
    padding-top: 5px;
}
.dbTextSmall {
    background: var(--ok-100);
    border-color: var(--light-grey);
    outline-color: var(--ok-100);
}
.dbOK {
    background: var(--ok-065);
    border-color: var(--light-grey);
    outline-color: var(--ok-065);
}
.hinweis-fehler {
    border-color: var(--fault);
    font-weight: bold;
}
.dbFault {
    border-color: var(--light-grey);
    background: var(--fault);
    outline-color: var(--fault);
}
.freunde-name {
    border-color: var(--table-grey1);
    background: var(--table-grey1);
}
.td-bg-grey {
    background: var(--table-grey2);
}
.dbButton {
    background: var(--dark-grey);
    border-color: var(--dark-grey);
}
.dbHeadBox {
    border-color: var(--table-grey1);
    background: var(--table-grey1);
    margin: 1px;
    padding: 6px;
    width: 97%;
}
.dbTD {
    border-color: var(--table-grey1);
    background: var(--table-grey1);
}
textarea {
    background: var(--table-grey1);
    border-color: var(--table-grey1);
}
.dbTextIcon {
    margin: 5px 0 0 3px;
}
#footer {
    background: var(--dark-grey);
    border: 2px solid var(--dark-grey);
    margin-left:-1px;
}
