/* General */
u {
    text-decoration: none;
}
h4,
.box-db,
.dbTD,
.freunde-name,
.dbTextBox {
    color: var(--font-color4) !important;
}
textarea {
    color: var(--ok-100);
}
input {
    color: var(--font-color4);
}

/* Buero */
.db-head-text {
    color: var(--font-color5);
    font-variant: small-caps;
    font-size: 12px;
}
.dbHeadBox {
    color: var(--font-color5);
    font-variant: small-caps;
    font-size: 11px;
}
.dbTextSmall {
    color: var(--medium-grey1);
    font-variant: small-caps;
    font-size: 11px;
}
.dbTextBox {
    font-size: 8pt;
}
.dbTD {
    font-size: 8pt;
    padding: 3px 3px 3px 8px;
}
.box-db {
    font-size: 11px;
}
.hinweis-fehler {
    font-weight: bold;
}
.ui-widget,
.ui-widget-content {
    color: var(--font-color4);
    font-size: 12px;
    font-family: Verdana, sans-serif;
}
.ui-draggable .ui-dialog-titlebar {
    font-variant: small-caps;
}



/* Team */
.table-head {
    text-align: center !important;
}
.inputJerseyNumber {
    text-align: center;
}
#content2 > h1,
#content2 > h2 {
    color: var(--font-color3);
    font-variant: small-caps;
    font-size: 2em;
}
.table-head {
    color: var(--font-color5);
}
.tdG {
    color: var(--font-color4);
}
.button-small {
    color: var(--font-color5);
}



/* Contracts */
#infobox > table > tbody > tr > td {
    color: var(--font-color4);
}



/* Training */
.zeileMarkedBlue select {
    color: var(--font-color4);
}



/* Finanzen */
.zeileGrau,
.zeileGrau2,
.zeileGrau3,
.spalte-blau,
.spalte-finanzen,
.spalte-grau-hell,
td {
    color: var(--font-color4);
}



/* Taktik */
.buttonBlue {
    color: var(--font-color5);
}
#infobox > h3 {
    color: var(--font-color4);
    font-variant: small-caps;
}
#infobox > ul {
    color: var(--font-color3);
}
.hinweis-hilfe {
    color: var(--medium-grey1);
}



/* Kontoauszug */
.textRed {
    color: var(--font-red) !important;
}
.textGreen {
    color: var(--font-green) !important;
}



/* EZM Times */
.timesHeadDate,
.timesHeadUrl,
.timesHeadEzmdate {
    color: var(--font-color3);
}
.timesHeadingLeft,
.timesHeadingCenter,
.timesHeadingSmall {
    color: var(--font-color3);
    font-variant: small-caps;
}
.timesHeadingSmall {
    font-size: 12px;
}
.timesDatum,
.timesText,
.timesTransferTeam,
.timesMore {
    color: var(--font-color2);
}



/* Links */
a:link,
a:link b,
a:visited,
a:visited b,
#navi a:link,
#navi a:link b,
#navi a:visited,
#navi a:visited b,
table a:link,
table a:link b,
table a:visited,
table a:visited b {
    color: var(--link4);
    text-decoration: none;
}
a:hover,
a:hover b,
#navi a:hover,
#navi a:hover b,
table a:hover,
table a:hover b {
    color: var(--link3);
    text-decoration: underline;
}
.hinweis-fehler > a:link,
.hinweis-fehler > a:visited {
    color: var(--font-color-fault);
}
.dbTextIcon > a:link b,
.dbTextIcon > a:visited b {
    color: var(--medium-grey1);
}
.dbFault > .dbTextIcon > a:link b,
.dbFault > .dbTextIcon > a:visited b {
    color: var(--font-color-fault);
}
.box-db > a:link,
.box-db > a:visited {
    color: var(--border-color-ok);
}
.dbTextIcon > a:hover {
    color: var(--medium-grey1);
}
.dbFault > .dbTextIcon > a:hover {
    color: var(--font-color-fault);
}
.portlet > h2 > a:link {
    font-variant: small-caps;
}
