body {
    background-color: var(--dark-grey);
}
#topbar1 {
    background-color: var(--dark-grey);
    border-bottom-color: var(--main-border);
    border-bottom-width: 3px;
}
#topbar2 {
    border-bottom-color: var(--main-border);
    border-bottom-width: 3px;
}
.contentSection {
    background-color: var(--medium-grey1);
    border: 1px solid var(--medium-grey1);
    box-shadow: 2px 2px 0 var(--light-grey);
}
.post-item2 {
    background-color: var(--medium-grey2);
    border: 1px solid var(--medium-grey2);
}
#sidebar-bg {
    background-image: none;
    background-color: var(--medium-grey1);
    border: 1px solid var(--medium-grey1);
    box-shadow: 2px 2px 0 var(--light-grey);
    height: 38%;
    top: 76px;
}
#sidebar {
    background-color: var(--medium-grey1);
    border: 1px solid var(--medium-grey1);
    height: 38%;
    top: 76px;
}
input {
    background-color: var(--light-grey);
    padding-left: var(--main-input-padding-left);
}
input[type="image" i] {
    background-color: var(--medium-grey1);
}
.inputName {
    border-color: var(--light-grey);
}
.submitButton {
    background-image: none;
    background-color: var(--dark-grey);
    border-color:  var(--dark-grey);
    box-shadow: 0 0 0 0;
    height: 30px;
}
.sidebarContainer ul {
    background-color: var(--medium-grey2);
    border-color: var(--medium-grey2);
    outline-color: var(--medium-grey2);
}
.sidebarContainer li {
    background-color: var(--light-grey);
    border-color: var(--light-grey);
    outline-color: var(--light-grey);
}
#footer {
    background: var(--dark-grey);
    border: 2px solid var(--dark-grey);
    margin-left:-1px;
}
#footerBox {
    background-color: var(--dark-grey);
}
h2 {
    font-variant: small-caps;
    color: var(--font-color3);

}
h3 {
    font-variant: small-caps;
    font-size: 14px;

}
.contentSection,
.post-item2,
form,
.inputName,
.submitButton,
.facts,
#footerText {
    color: var(--font-color3);
}
u {
    text-decoration: none;
}
a:link,
a:visited,
.naviLink a,
.naviLink a:visited,
#footer a:link,
#footer a:visited {
    color: var(--link4);
    text-decoration: none;
}
a:hover,
.naviLink a:hover,
#footer a:hover {
    color: var(--link3);
    text-decoration: underline;
}
