.tab-line {
    height: 2px;
    width: 100%;
    border-color: var(--medium-grey1);
    border-width: 5px 0px 0px 0px;
}
.taktik-box-blau,
.infobox-blau {
    background-color: var(--medium-grey1);
    border-color: var(--medium-grey1);
    border-radius: var(--border-radius);
}
.taktik-box-weiss,
.button-trenner {
    background-color: var(--light-grey);
    border-color: var(--light-grey);
    outline-color: var(--light-grey);
}
.buttonBlue {
    background: var(--medium-grey1);
    border-color: var(--font-color1);
    border-radius: var(--border-radius);
    box-shadow: 0 0 0;
}
.buttonBlue:hover {
    background: var(--table-grey2) !important;
}
#slickbox {
    padding-left: 9%;
}
#infobox {
    background: var(--table-grey1);
    border-color: var(--medium-grey1);
    border-style: solid;
    border-width: 5px;
    width: 90%;
}
.hinweis-hilfe,
.hinweis-info,
.hinweis-back {
    background: var(--help);
    background-repeat: no-repeat !important;
    background-position: left !important;
    border-width: 1px;
    border-color: var(--light-grey);
    outline-color: var(--help);
    outline-style: solid;
    outline-width: 1px;
}
.hinweis-ok {
    background: var(--ok-100);
    background-repeat: no-repeat !important;
    background-position: left !important;
    border-color: var(--light-grey);
    outline-color: var(--ok-100);
    outline-style: solid;
    outline-width: 1px;
}
