.divider-hori {
    background: var(--medium-grey1);
    border-width: 0px;
    height: 5px;
}
.hof_flag{
    margin-top: 33px;
}
.hof_name {
    margin-top: 2px;
}
.hof_nummer {
    margin-top: 20px;
}
.hof_season {
    margin-top: 18px;
}
.box-blau-big > .box-weiss-big > #slickbox {
    padding-left: 0%;
}
