.table-tab-white,
.table-tab,
.table-tab:hover {
    width: 100px;
    height: 23px;
}
.table-head {
    background: var(--medium-grey1);
    border-color: var(--medium-grey1);
}
.tdC,
.tdS,
.tdV,
.tdG {
    background: var(--medium-grey1);
}
.tdC {
    border: var(--tdC);
}
.tdS {
    border: var(--tdS);
}
.tdV {
    border: var(--tdV);
}
.tdG {
    border: var(--tdG);
}
.inputJerseyNumber {
    border-width: 1px;
    border-style: solid;
    height: 100%;
}
select {
    background: var(--light-grey);
}
.button-small {
    background: var(--medium-grey1);
    border-width: 2px;
    border-color: var(--link3);
    border-radius: var(--border-radius);
    height: 25px;
}
