
/* Dark Theme */
@import 'https://lichess1.org/assets/_OsMK53/css/site.light.min.css';
@import 'https://lichess1.org/assets/_OsMK53/css/lobby.light.min.css';
@import 'https://lichess1.org/assets/_OsMK53/css/dasher.light.min.css';
@import 'https://lichess1.org/assets/_OsMK53/css/autocomplete.light.min.css';
@import 'https://lichess1.org/assets/_OsMK53/css/puzzle.light.min.css';
@import 'https://lichess1.org/assets/_OsMK53/css/user.list.light.min.css';
@import 'https://lichess1.org/assets/_OsMK53/css/tournament.leaderboard.light.min.css';
@import 'https://lichess1.org/assets/_OsMK53/css/tournament.home.light.min.css';
@import 'https://lichess1.org/assets/_OsMK53/css/round.light.min.css';
@import 'https://lichess1.org/assets/_OsMK53/css/user.rating.stats.light.min.css';
@import 'https://lichess1.org/assets/_OsMK53/css/simul.list.light.min.css';
@import 'https://lichess1.org/assets/_OsMK53/css/lobby.setup.light.min.css';
@import 'https://lichess1.org/assets/_OsMK53/css/learn.light.min.css';
@import 'https://lichess1.org/assets/_OsMK53/css/practice.index.light.min.css';
@import 'https://lichess1.org/assets/_OsMK53/css/study.index.light.min.css';
@import 'https://lichess1.org/assets/_OsMK53/css/coach.light.min.css';
@import 'https://lichess1.org/assets/_OsMK53/css/streamer.list.light.min.css';
@import 'https://lichess1.org/assets/_OsMK53/css/relay.index.light.min.css';
@import 'https://lichess1.org/assets/_OsMK53/css/forum.light.min.css';
@import 'https://lichess1.org/assets/_OsMK53/css/analyse.free.light.min.css';
@import 'https://lichess1.org/assets/_OsMK53/css/editor.light.min.css';
@import 'https://lichess1.org/assets/_OsMK53/css/importer.light.min.css';
@import 'https://lichess1.org/assets/_OsMK53/css/search.light.min.css';
@import 'https://lichess1.org/assets/_C8mHr6/css/blog.light.min.css';
@import 'https://lichess1.org/assets/_C8mHr6/css/plan.light.min.css';
@import 'https://lichess1.org/assets/_C8mHr6/css/simul.show.light.min.css';
@import 'https://lichess1.org/assets/_wTMpbM/css/team.light.min.css';

/* Lobby */
.lobby__table,
.lobby__side,
.lobby__leaderboard,
.lobby__winners,
.lobby__tournaments,
.lobby__simuls,
.lobby__forum,
.lobby__blog,
.lobby__support,
.lobby__about,
.lobby__tv,
.lobby__puzzle {
    display: none !important;
}

/* TV */
.tv-history {
    display: none;
}

/* Titel Shadows */
.button.button-empty:not(.disabled):hover,
.button.button-empty.button-green:not(.disabled):hover,
.button.button-empty.button-red:not(.disabled):hover,
.button.button-metal,
#friend_box .friend_box_title,
.btn-rack__btn,
.btn-rack form {
    text-shadow: 0 1px 0 transparent;
}
.button.button-metal:not(.disabled):hover,
#friend_box .friend_box_title:hover,
.btn-rack__btn:hover,
.btn-rack form:hover {
    text-shadow: 0 1px 0 transparent;
}
.lobby__box__top,
.crosstable__users,
.mselect__label, .mselect__label:hover,
group.radio label {
    text-shadow: 0 1px 0 transparent;
}

/* Lobby Play */
.lpools>div:hover {
    background: rgba(153, 151, 146, .4);
}
.hooks__list tr.join:hover td {
    background: rgba(153, 151, 146, .4);
}
.lobby__app {
    height: 700px;
    width: 700px;
}
