/***************************************************************************************/
/* name         EZM - Minimalistic Dark                                                */
/* version      1.0.0                                                                  */
/* description  Clean & Minimalistic Theme                                             */
/* namespace    https://github.com/MadameSolette/Stylus/tree/master/eiszeit-manager.de */
/* author       MadameSolette                                                          */
/* supportURL   https://github.com/MadameSolette/Stylus/issues                         */
/* license      None                                                                   */
/***************************************************************************************/

/*************************************************************************************************************************/
/* NOTES:                                                                                                                */
/* - Jeglicher Content von https://www.eiszeit-manager.de/ ist Eigentum von © https://www.eiszeit-manager.de/            */
/* - Jegliche Rechte etwaiger geänderter Images obliegen im original bei © https://www.eiszeit-manager.de/               */
/* - Geänderte Images die nicht von © https://www.eiszeit-manager.de/ stammen, obliegen keiner Rechte und/oder Lizenzen  */
/*   und können frei weiter verwendet/geändert werden.                                                                   */
/* - Dieses Stylus Theme ist nur zur privaten und nicht komerziellen Nutzung gedacht.                                    */
/* - Dieses Stylus Theme obliegt keiner Rechte und/oder Lizenen und kann frei verwendet/geändert werden.                 */
/* - Dieses Stylus Theme bringt keinerlei Vor-/Nachteile im angebotenen Content von © https://www.eiszeit-manager.de/.   */
/* - Jeglicher Stylus Theme Cascading Style Sheets (CSS) Source-Code ist zu jeder Zeit einsehbar und kann frei           */
/*   verwendet/geändert werden.                                                                                          */
/*************************************************************************************************************************/

/* ---------------------------------------------------------------------------------------------------- */
/* ------- FEEL FREE TO DELETE ANY @import LINES IF YOU WANT THE HEADER AND/OR BACKGROUND IMAGE ------- */
/* ---------------------------------------------------------------------------------------------------- */
@import 'https://madamesolette.github.io/Stylus/eiszeit-manager.de/source/header.css';
@import 'https://madamesolette.github.io/Stylus/eiszeit-manager.de/source/background-image.css';

/* ---------------------------------------- */
/* --- DO NOT CHANGE ANYTHING FROM HERE --- */
/* ---------------------------------------- */
@import 'https://madamesolette.github.io/Stylus/eiszeit-manager.de/source/achievements.css';
@import 'https://madamesolette.github.io/Stylus/eiszeit-manager.de/source/base64.css';
@import 'https://madamesolette.github.io/Stylus/eiszeit-manager.de/source/buero.css';
@import 'https://madamesolette.github.io/Stylus/eiszeit-manager.de/source/contracts.css';
@import 'https://madamesolette.github.io/Stylus/eiszeit-manager.de/source/draft.css';
@import 'https://madamesolette.github.io/Stylus/eiszeit-manager.de/source/finanzen.css';
@import 'https://madamesolette.github.io/Stylus/eiszeit-manager.de/source/font.css';
@import 'https://madamesolette.github.io/Stylus/eiszeit-manager.de/source/inbox.css';
@import 'https://madamesolette.github.io/Stylus/eiszeit-manager.de/source/liga.css';
@import 'https://madamesolette.github.io/Stylus/eiszeit-manager.de/source/match-detail.css';
@import 'https://madamesolette.github.io/Stylus/eiszeit-manager.de/source/nachwuchs.css';
@import 'https://madamesolette.github.io/Stylus/eiszeit-manager.de/source/settings.css';
@import 'https://madamesolette.github.io/Stylus/eiszeit-manager.de/source/splash.css';
@import 'https://madamesolette.github.io/Stylus/eiszeit-manager.de/source/taktik.css';
@import 'https://madamesolette.github.io/Stylus/eiszeit-manager.de/source/team.css';
@import 'https://madamesolette.github.io/Stylus/eiszeit-manager.de/source/team-info.css';
@import 'https://madamesolette.github.io/Stylus/eiszeit-manager.de/source/training.css';
@import 'https://madamesolette.github.io/Stylus/eiszeit-manager.de/source/trikot.css';

:root {
    --transparent: transparent;
    --dark-grey: #1A1A1A;
    --medium-grey1: #222222;
    --medium-grey2: #282828;
    --light-grey: #303030;
    --table-grey1: #484848;
    --table-grey2: #5B5B5B;
    --tdC: 1px solid #674967;
    --tdS: 1px solid #6092b9;
    --tdV: 1px solid #366386;
    --tdG: 1px solid #f9f9f9;
    --fault: #FF9FA1;
    --ok-065: rgba(236, 253, 221, 0.65);
    --ok-100: rgba(236, 253, 221, 1.0);
    --help: #FFEDAF;
    --font-color1: #929292;
    --font-color2: #B6B6B6;
    --font-color3: #CDCDCD;
    --font-color4: #E1E3E5;
    --font-color5: #F5F5F6;
    --font-red: #FF0000;
    --font-green: #4FBF4F;
    --font-color-fault: #A91A1E;
    --font-color-blue1: #4782b1;
    --link1: #427EAC;
    --link2: #4482B2;
    --link3: #7DABD6;
    --link4: #AED0F7;
    --border-color: #427EAC;
    --border-radius: 0px;
}
