/***************************************************************************************/
/* name         EZM - Minimalistic Dark                                                */
/* version      1.0.0                                                                  */
/* description  Clean & Minimalistic Theme                                             */
/* namespace    https://github.com/MadameSolette/Stylus/tree/master/eiszeit-manager.de */
/* author       MadameSolette                                                          */
/* namespace    https://github.com/MadameSolette/Stylus/tree/master/eiszeit-manager.de */
/* supportURL   https://github.com/MadameSolette/Stylus/issues                         */
/* namespace    https://github.com/MadameSolette/Stylus/tree/master/eiszeit-manager.de */
/* license      None                                                                   */
/***************************************************************************************/

/*************************************************************************************************************************/
/* NOTES:                                                                                                                */
/* - Jeglicher Content von https://www.eiszeit-manager.de/ ist und bleibt Eigentum von © https://www.eiszeit-manager.de/ */
/* - Jegliche Rechte etwaiger geänderter Images obliegen im original bei © https://www.eiszeit-manager.de/               */
/* - Geänderte Images die nicht von © https://www.eiszeit-manager.de/ stammen, obliegen keiner Rechte und/oder Lizenzen  */
/*   und können frei weiter verwendet/geändert werden.                                                                   */
/* - Dieses Stylus Theme ist nur zur privaten und nicht komerziellen Nutzung gedacht.                                    */
/* - Dieses Stylus Theme obliegt keiner Rechte und/oder Lizenen und kann frei verwendet/geändert werden.                 */
/* - Dieses Stylus Theme bringt keinerlei Vor-/Nachteile im angebotenen Content von © https://www.eiszeit-manager.de/.   */
/* - Jeglicher Stylus Theme Cascading Style Sheets (CSS) Source-Code ist zu jeder Zeit einsehbar und kann frei           */
/*   verwendet/geändert werden.                                                                                          */
/*************************************************************************************************************************/

/* ---------------------------------------- */
/* --- DO NOT CHANGE ANYTHING FROM HERE --- */
/* ---------------------------------------- */
@import 'https://madamesolette.github.io/Stylus/eiszeit-manager.de/source/main.css';

:root {
    --dark-grey: #1A1A1A;
    --medium-grey1: #222222;
    --medium-grey2: #282828;
    --light-grey: #303030;
    --input-border: #4D6C9F;
    --main-border: #4482B2;
    --font-color4: #E1E3E5;
    --font-color5: #F5F5F6;
    --link3: #7DABD6;
    --link4: #AED0F7;
    --main-input-padding-left: 7px;
}
