@import 'https://madamesolette.github.io/Stylus/eiszeit-manager.de/source/minimalistic.css';
@import 'https://madamesolette.github.io/Stylus/eiszeit-manager.de/source/main.css';
@import 'https://madamesolette.github.io/Stylus/eiszeit-manager.de/source/buero.css';

:root {
    --transparent: transparent;
    --dark-grey: #1A1A1A;
    --medium-grey1: #222222;
    --medium-grey2: #282828;
    --light-grey: #393939;
    --table-grey1: #7B7B7B;
    --table-grey2: #BDBDBD;
}
