/* Default Theme */
/* https://github.com/MadameSolette/Stylus/tree/master/lichess.org */

/* Lobby */
.lobby__table,
.lobby__side,
.lobby__leaderboard,
.lobby__winners,
.lobby__tournaments,
.lobby__simuls,
.lobby__forum,
.lobby__blog,
.lobby__support,
.lobby__about,
.lobby__tv,
.lobby__puzzle {
    display: none !important;
}

/* TV */
.tv-history {
    display: none;
}
.game__meta__infos::before {
    color: #d64f00;
}
.subnav a,
.tv-channel>span::before {
    color: rgba(147,146,146,0.8);
}
.tv-channel>span:hover,
.tv-channel>span:hover::before {
    color: #d64f00;
}
.tv-channels.subnav {
    background: #262421;
    border-radius: 3px;
    padding: 1.4vmin;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12);
    margin-top: -10px;
}

/* Titel Shadows */
.button.button-empty:not(.disabled):hover,
.button.button-empty.button-green:not(.disabled):hover,
.button.button-empty.button-red:not(.disabled):hover,
.button.button-metal,
#friend_box .friend_box_title,
.btn-rack__btn,
.btn-rack form,
.rcontrols .rematch.fbt,
.crosstable__score {
    text-shadow: 0 1px 0 transparent;
}
.button.button-metal:not(.disabled):hover,
#friend_box .friend_box_title:hover,
.btn-rack__btn:hover,
.btn-rack form:hover {
    text-shadow: 0 1px 0 transparent;
}
.lobby__box__top,
.crosstable__users,
.mselect__label, .mselect__label:hover,
group.radio label {
    text-shadow: 0 1px 0 transparent;
}

/* Lobby Play */
.lpools>div:hover {
    background: rgba(153, 151, 146, .4);
}
.hooks__list tr.join:hover td {
    background: rgba(153, 151, 146, .4);
}
.lobby__app {
    height: 880px;
    width: 700px;
}

.lpools>div {
    height: 200px;
}
/* Scrollbar */
::-webkit-scrollbar {
	display: none;
}

/* Challenge */
.challenge-page .details {
    background: #393632;
}
.challenge-page .invite>div {
    background: #393632;
}

/* Scoreline */
.crosstable__matchup,
.crosstable povs.current a {
    opacity: 1;
    text-shadow: 0 1px 0 transparent;
    font-weight: bold;
}
.crosstable povs a.win,
.crosstable povs a.loss,
.crosstable povs a {
    opacity: 1;
    text-shadow: 0 1px 0 transparent;
    font-weight: normal;
}

/* Notification */
.rmoves o2.active,
.rmoves u8t.active {
    font-weight: bold;
}
.tview2 move.current {
    border: 0px solid #d64f00;
}

/* Tournament Rank */
.rclock .tour-rank {
    opacity: 1;
    color: #1b78d0;
}

/* User online / offline */
.user-link.online .line {
    color: #629924;
    opacity: .9;
}
.user-link.online .line::before {
    content: '';
}
.user-link .line {
    color: #bababa;
    opacity: 0.2;
}
.user-link .line::before {
    content: '';
}
