/* Dark Theme */
/* https://github.com/MadameSolette/Stylus/tree/master/lichess.org */

@import 'https://lichess1.org/assets/_OsMK53/css/site.dark.min.css';
@import 'https://lichess1.org/assets/_OsMK53/css/lobby.dark.min.css';
@import 'https://lichess1.org/assets/_OsMK53/css/dasher.dark.min.css';
@import 'https://lichess1.org/assets/_OsMK53/css/autocomplete.dark.min.css';
@import 'https://lichess1.org/assets/_OsMK53/css/puzzle.dark.min.css';
@import 'https://lichess1.org/assets/_OsMK53/css/user.list.dark.min.css';
@import 'https://lichess1.org/assets/_OsMK53/css/tournament.leaderboard.dark.min.css';
@import 'https://lichess1.org/assets/_OsMK53/css/tournament.home.dark.min.css';
@import 'https://lichess1.org/assets/_OsMK53/css/round.dark.min.css';
@import 'https://lichess1.org/assets/_OsMK53/css/user.rating.stats.dark.min.css';
@import 'https://lichess1.org/assets/_OsMK53/css/simul.list.dark.min.css';
@import 'https://lichess1.org/assets/_OsMK53/css/lobby.setup.dark.min.css';
@import 'https://lichess1.org/assets/_OsMK53/css/learn.dark.min.css';
@import 'https://lichess1.org/assets/_OsMK53/css/practice.index.dark.min.css';
@import 'https://lichess1.org/assets/_OsMK53/css/study.index.dark.min.css';
@import 'https://lichess1.org/assets/_OsMK53/css/coach.dark.min.css';
@import 'https://lichess1.org/assets/_OsMK53/css/streamer.list.dark.min.css';
@import 'https://lichess1.org/assets/_OsMK53/css/relay.index.dark.min.css';
@import 'https://lichess1.org/assets/_OsMK53/css/forum.dark.min.css';
@import 'https://lichess1.org/assets/_OsMK53/css/analyse.free.dark.min.css';
@import 'https://lichess1.org/assets/_OsMK53/css/editor.dark.min.css';
@import 'https://lichess1.org/assets/_OsMK53/css/importer.dark.min.css';
@import 'https://lichess1.org/assets/_OsMK53/css/search.dark.min.css';
@import 'https://lichess1.org/assets/_C8mHr6/css/blog.dark.min.css';
@import 'https://lichess1.org/assets/_C8mHr6/css/plan.dark.min.css';
@import 'https://lichess1.org/assets/_C8mHr6/css/simul.show.dark.min.css';
@import 'https://lichess1.org/assets/_wTMpbM/css/team.dark.min.css';

/* Lobby */
.lobby__table,
.lobby__side,
.lobby__leaderboard,
.lobby__winners,
.lobby__tournaments,
.lobby__simuls,
.lobby__forum,
.lobby__blog,
.lobby__support,
.lobby__about,
.lobby__tv,
.lobby__puzzle {
    display: none !important;
}

/* TV */
.tv-history {
    display: none;
}

/* Titel Shadows */
.button.button-empty:not(.disabled):hover,
.button.button-empty.button-green:not(.disabled):hover,
.button.button-empty.button-red:not(.disabled):hover,
.button.button-metal,
#friend_box .friend_box_title,
.btn-rack__btn,
.btn-rack form,
.rcontrols .rematch.fbt,
.crosstable__score {
    text-shadow: 0 1px 0 transparent;
}
.button.button-metal:not(.disabled):hover,
#friend_box .friend_box_title:hover,
.btn-rack__btn:hover,
.btn-rack form:hover {
    text-shadow: 0 1px 0 transparent;
}
.lobby__box__top,
.crosstable__users,
.mselect__label, .mselect__label:hover,
group.radio label {
    text-shadow: 0 1px 0 transparent;
}

/* Lobby Play */
.lpools>div:hover {
    background: rgba(153, 151, 146, .4);
}
.hooks__list tr.join:hover td {
    background: rgba(153, 151, 146, .4);
}
.lobby__app {
    height: 880px;
    width: 700px;
}

.lpools>div {
    height: 200px;
}
/* Scrollbar */
::-webkit-scrollbar {
	display: none;
}

/* Challenge */
.challenge-page .details {
    background: #393632;
}
.challenge-page .invite>div {
    background: #393632;
}

/* Scoreline */
.crosstable__matchup,
.crosstable povs.current a {
    opacity: 1;
    text-shadow: 0 1px 0 transparent;
    font-weight: bold;
}
.crosstable povs a.win,
.crosstable povs a.loss,
.crosstable povs a {
    opacity: 1;
    text-shadow: 0 1px 0 transparent;
    font-weight: normal;
}

/* Notification */
.rmoves o2.active,
.rmoves u8t.active {
    font-weight: bold;
    background: #293a49;
    color: #ccc;
}
.tview2 move.current {
    border: 0px solid #d64f00;
}

.rmoves i5z {
    background: transparent;
}
